.qa-panel{
    min-width:900px;  
    max-width:900px; 
    min-height:450px; 
    max-height:450px; 
    background-size: cover;
}

.qa-3buttons{
    min-width:25%;  
    max-width:25%;
}

.qa-center-row{
    min-width:900px;  
    max-width:900px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 50px;
}

.qa-left-title{
    padding-top: 100px;
}

.qa-question-input{
    min-height:200px; 
    max-height:200px; 
}

.roundcorners{
    border-radius: 25px;
}

.qa-darkest{
    background: #181c20;
    color: #ffffff;
}

.qa-dark-gray{
    background: #2d2c2c;
    color: #ffffff;
}

.qa-dark-red{
    background: #771616;
    color: #ffffff;
}

.qa-dark-blue{
    background: #15263c;
    color: #ffffff;
}

.qa-light-gray{
    background: #e0e0e0;
    color: #000000;
}

.qa-light-red{
    background: #f49f92;
    color: #000000;
}

.qa-light-blue{
    background: #8cbfdd;
    color: #000000;
}