.qa-panel{
    min-width:900px;  
    max-width:900px; 
    min-height:450px; 
    max-height:450px; 
    background-size: cover;
}

.roundcorners{
    border-radius: 25px;
}

.qa-dark-gray{
    background: #2d2c2c;
}

.qa-dark-red{
    background: #771616;
}

.qa-dark-blue{
    background: #15263c;
}